<!DOCTYPE html>
<html lang="en">
<head>
	<title>Obscurial | Software consulting</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Copenhagen Web development consulting delivering high performance solutions. We get excited about remarkable ideas and we enjoy the journey of creating technology.">
  <link rel="alternate" href="https://obscurial.dk" hreflang="en-dk" />
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:image" content="https://obscurial.dk/logo.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://obscurial.dk" />
  <meta property="og:title" content="Obscurial | Software consulting" />
  <meta property="og:description" content="Copenhagen Web development studio delivering high performance solutions. We get excited about remarkable ideas and enjoy the journey of creating technology." />
</head>
<body>
  <canvas class="with-noise"></canvas>

  <div class="main-elements-container">
    <header>
      <div class="menu-container">
        <div class="menu-inner-container">
          <div class="nav-container">
            <nav>
              <a href="#" class="menu-item" data-url="about">About us</a>
              <a href="#" class="menu-item" data-url="work">Work</a>
              <a href="#" class="menu-item" data-url="contact">Contact</a>
            </nav>
          </div>
        </div>
        <div class="background"></div>
      </div>
      <a href="" class="logo secondary-menu-item menu-item" data-url="home">Obscurial</a>
      <a href="" class="secondary-menu-item menu-item hire-us" data-url="hireus">Hire us</a>
      <span class="voice-control">
        <div class="voice-control-ring"></div>
      </span>
      <div class="menu-button-container">
        <span class="menu-button">
          <span class="menu-button-top"></span>    
          <span class="menu-button-bottom"></span>
        </span>
        <span class="menu-button-text open">Close</span>
        <span class="menu-button-text closed active">Menu</span>
      </div>
    </header>
    
    <div class="page-description">
      <h1 class="heading">About</h1>
      <span class="page-number">01</span>
    </div>
  </div>

	<main class="content">
    <section class="page about box-wide is-visible" data-url="about">
      <div class="section-title-container fade-up">
        <div class="section-title">Making the web better</div>
        <div class="section-subtitle">Software studio web at heart</div>
      </div>

      <div class="info-boxes clearfix">
        <div class="info-box green fade-up third">
          <div class="overlay"></div>
        </div>

        <div class="move" data-speed="20">
        <div class="info-box grey fade-up second">
            <p>Who are these guys?</p>
            <br>
            <p>Obscurial consulting is a Copenhagen Web development studio delivering high performance solutions you can trust.</p>
            <br>
            <p>We get excited about remarkable ideas and we enjoy the journey of creating technology.</p>
            <br>
            <p>Our experience stretches across the entire tech spectrum but our main focus has always been on web software and rich internet applications.</p>
            <br>
            <p>We build everything in house and our solutions are platform agnostic, excepting for the core browser technologies. We 💚 the Web</p>
            <br>    
          </div>
        </div>
        <div class="info-box black move" data-speed="10">
          <div class="overlay"></div>
        </div>
        <div class="info-box transparent move" data-speed="20" itemscope itemtype="http://schema.org/Service">
          <meta itemprop="serviceType" content="Software Development" />
          <div class="services-headline">Things we are darn good at</div>
          <ul class="services" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Web application development</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Internal tools</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Digitization of process</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">CMS</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Software develpment</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Apps</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Chat bots</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Machine learning</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Data handling</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Sitecrawl</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Integration</span>
              </div>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
              <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
                <span itemprop="name">Voice activated user interfaces</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  
  <div class="preloader">
    <div class="preloader-cursor"></div>
  </div>

  <div class="page-transition"></div>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name":"Obscurial Consulting",
    "url": "https://obscurial.dk",
    "logo": ["https://www.obscurial.dk/logo.jpg"],
    "contactPoint": [
      { "@type": "ContactPoint",
        "telephone": "+45 5027 6973",
        "email":"info@obscurial.dk",
        "contactType": "sales"
      }
    ],
    "areaServed":"Copenhagen",
    "description":"Who are these guys? Obscurial consulting is a Copenhagen Web development studio delivering high performance solutions you can trust. We get excited about remarkable ideas and we enjoy the journey of creating technology. Our experience stretches across the entire tech spectrum but our main focus has always been on web software and rich internet applications. We build everything in house and our solutions are platform agnostic, excepting for the core browser technologies. We 💚 the Web",
    "location": {
    "logo": ["https://www.obscurial.dk/logo.jpg"],
    "image": ["https://www.obscurial.dk/logo.jpg"],
    "name":"Obscurial Consulting",
    "telephone": "+45 5027 6973",
      "@type": "LocalBusiness",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "København",
        "addressRegion": "København",
        "postalCode": "2300 Kbh S"
      }}
  }
  </script>
  <script src="scripts/all.js"></script>
</body>
</html>
