<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <style>
    .sender { position:absolute; width:100vw; left:0; bottom:0; border-top:.1rem solid red; }
    .message { clear:both; padding:.6rem; background:rgb(75, 123, 228); color:white; border-radius:1rem; }
      .from-sender { float:left; }
      .from-receiver { float:right; background-color:rgb(69, 200, 87); opacity:0; transform:translateY(1rem); transition:opacity .5s, transform .5s; }
        .from-receiver.active { opacity:1; transform:translateY(0); }
  </style>
  <template id="message-sender-template">
    <div class="message from-sender">
      <div class="message-text"></div>
      <!-- <button>click</button> -->
    </div>
  </template>
  <template id="message-receiver-template">
    <div class="message from-receiver">
      <div class="message-text"></div>
      <!-- <button>click</button> -->
    </div>
  </template>

  <div class="messages"></div>
  <div class="sender">Sender</div>
</body>

</html>