
<!DOCTYPE html>
<html>
<head>
	<title>Obscurial</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
</head>
<body>
  <canvas class="with-noise"></canvas>

  <div class="main-elements-container">
    <header>
      <a href="" class="logo">Obscurial</a>
      <a href="" class="hire-us-button">Hire us</a>
    </header>
    
    <nav>
      <a href="" class="">About us</a>
      <a href="" class="">Cases</a>
      <a href="" class="">Contact</a>
    </nav>
    
    <!-- <div class="page-description">
      <h1 class="heading">Cases</h1>
      <span class="page-number">01</span>
    </div> -->
  </div>

	<main class="content">
    <section class="page home">
      <div class="text-container move">
        <h2 class="intro-secondary-headline"><span>Obscurial</span> is a software consultancy company</h2>
        <h2 class="intro-secondary-headline"><span>we</span> craft great experiences and we love internet technologies</h2>
        <h2 class="intro-secondary-headline"><span>we</span> help businesses with</h2>
        <ul class="intro-list">
          <li>Web application development</li>
          <li>Web application development</li>
          <li>Web application development</li>
          <li>Web application development</li>
        </ul>
        <h2 class="intro-secondary-headline"><span>get</span> in touch with us at <a href="mailto:hello@obscurial.dk">hello@obscurial.dk</a></h2>
      </div>
      <span class="intro-medium-box"></span>
      <span class="intro-small-box"></span>
    </section>
	</main>
  
  


  <script src="scripts/all.js"></script>
</body>
</html>
