<!DOCTYPE html>
<html lang="en">
<head>
	<title>Obscurial | Software consulting</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Copenhagen Web development consulting delivering high performance solutions. We get excited about remarkable ideas and we enjoy the journey of creating technology.">
  <link rel="alternate" href="https://obscurial.dk" hreflang="en-dk" />
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:image" content="https://obscurial.dk/logo.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://obscurial.dk" />
  <meta property="og:title" content="Obscurial | Software consulting" />
  <meta property="og:description" content="Copenhagen Web development studio delivering high performance solutions. We get excited about remarkable ideas and enjoy the journey of creating technology." />
  <style>
    .console-cursor { position:relative; display:inline-block; font-size:2rem; margin-top:.3rem; caret-color:transparent; }
      .console-cursor:after, .preloader-cursor { content:""; position:absolute; width:1.5rem; height:.2rem; bottom:0; right:0; transform:translateX(130%); display:inline-block; margin:1rem 0 -.3rem .3rem; background:#fff; animation:blink .7s infinite; }
      .preloader-cursor { left:25rem; top:27rem; }

    .app-loaded .preloader { background-color:transparent; }
    .preloader { width:100vw; height:100vh; position:absolute; top:0; left:0; background-color:rgb(26, 26, 26); transition:background .5s; }
    .app-loaded .preloader-cursor { opacity:0; visibility:hidden; }

    @media all and (max-width:1024px) {
      .console-cursor { margin-top:0; }
      .preloader-cursor { left:10rem; top:20rem; }
    }
  </style>
</head>
<body>
  <canvas class="with-noise"></canvas>

  <div class="main-elements-container">
    <header>
      <div class="menu-container">
        <div class="menu-inner-container">
          <div class="nav-container">
            <nav>
              <a class="menu-item" data-url="about">About us</a>
              <a class="menu-item" data-url="work">Work</a>
              <a class="menu-item" data-url="contact">Contact</a>
            </nav>
          </div>
        </div>
        <div class="background"></div>
      </div>
      <a class="logo secondary-menu-item menu-item" data-url="home">Obscurial</a>
      <a class="secondary-menu-item menu-item hire-us" data-url="hireus">Hire us</a>
      <span class="voice-control">
        <div class="voice-control-ring"></div>
      </span>
      <div class="menu-button-container">
        <span class="menu-button">
          <span class="menu-button-top"></span>    
          <span class="menu-button-bottom"></span>
        </span>
        <span class="menu-button-text open">Close</span>
        <span class="menu-button-text closed active">Menu</span>
      </div>
    </header>
    
    <div class="page-description">
      <h1 class="heading">Home</h1>
      <span class="page-number">00</span>
    </div>
  </div>

	<main class="content">
    <section class="page home is-visible" data-url="home">
      <div class="console fade-up second">
        <div class="console-content">
          <span contenteditable="true" class="console-cursor"></span>
        </div>
      </div>
      <div class="intro-box-container fade-up">
        <div class="intro-small-box-container">
          <div class="intro-small-box"></span>
        </div>
      </div>
    </section>
  </main>
  
  <div class="preloader">
    <div class="preloader-cursor"></div>
  </div>

  <div class="page-transition"></div>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name":"Obscurial Consulting",
    "url": "https://obscurial.dk",
    "logo": ["https://www.obscurial.dk/logo.jpg"],
    "contactPoint": [
      { "@type": "ContactPoint",
        "telephone": "+45 5027 6973",
        "email":"info@obscurial.dk",
        "contactType": "sales"
      }
    ],
    "areaServed":"Copenhagen",
    "description":"Who are these guys? Obscurial consulting is a Copenhagen Web development studio delivering high performance solutions you can trust. We get excited about remarkable ideas and we enjoy the journey of creating technology. Our experience stretches across the entire tech spectrum but our main focus has always been on web software and rich internet applications. We build everything in house and our solutions are platform agnostic, excepting for the core browser technologies. We 💚 the Web",
    "location": {
    "logo": ["https://www.obscurial.dk/logo.jpg"],
    "image": ["https://www.obscurial.dk/logo.jpg"],
    "name":"Obscurial Consulting",
    "telephone": "+45 5027 6973",
      "@type": "LocalBusiness",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "København",
        "addressRegion": "København",
        "postalCode": "2300 Kbh S"
      }}
  }
  </script>
  <script src="scripts/all.js"></script>
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    function embedTrackingCode() {
      var u="https://www.obscurial.dk/piwik/";
      _paq.push(["setTrackerUrl", u+"piwik.php"]);
      _paq.push(["setSiteId", "1"]);

      var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
      g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);    
    }

    if (window.addEventListener) { 
        window.addEventListener("load", embedTrackingCode, false); 
    } else if (window.attachEvent) { 
        window.attachEvent("onload",embedTrackingCode); 
    } else {
        embedTrackingCode();
    }
  </script>
  <!-- End Matomo Code -->
</body>
</html>
