
<!DOCTYPE html>
<html>
<head>
	<title>Obscurial</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
</head>
<body>

  <canvas class="with-noise"></canvas>

	<header>
		<a href="" class="logo">Obscurial</a>
		<a href="" class="hire-us-button">Hire us</a>
	</header>

	<nav>
		<a href="" class="">About us</a>
		<a href="" class="">Cases</a>
		<a href="" class="">Contact</a>
	</nav>

	<div class="page-description">
		<h1 class="heading">Cases</h1>
		<span class="page-number">01</span>
	</div>



	<div class="content">
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
	</div>


  <script src="scripts/all.js"></script>
</body>
</html>
