
<!DOCTYPE html>
<html>
<head>
	<title>Obscurial</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
</head>
<body>
  <!-- <canvas class="with-noise"></canvas> -->

  <div class="main-elements-container">
    <header>
      <a href="" class="logo secondary-menu-item" data-url="home">
        <!-- <img src="images/logo-web.png"> -->
        Obscurial
      </a>
      <a href="" class="logo secondary-menu-item" data-url="home">Hire us</a>
      <div href="" class="menu-button-container">
        <span href="" class="menu-button">
          <span class="menu-button-top"></span>    
          <span class="menu-button-bottom"></span>
        </span>
        <span href="" class="menu-button-text">Menu</span>
      </div>
    </header>
    
    <nav class="main-menu">
      <a href="" class="main-menu-item" data-url="about">About us</a>
      <a href="" class="main-menu-item" data-url="cases">Cases</a>
      <a href="" class="main-menu-item" data-url="contact">Contact</a>
    </nav>
    
    <div class="page-description">
      <h1 class="heading">Home</h1>
      <span class="page-number">01</span>
    </div>
  </div>

  <span class="open-mobile-menu">
    <span></span>
    <span></span>
  </span>

  <div class="mobile-menu-container is-hidden">
    <div class="mobile-menu-inner-container">
      <a href="" class="link">Hire us</a>
      <a href="" class="logo main-menu-item" data-url="home">Obscurial</a>
      <span class="close-mobile-menu"><span></span></span>

      <div class="mobile-menu">
        <nav class="mobile-main-menu">
          <a href="" class="main-menu-item" data-url="about">About us</a>
          <a href="" class="main-menu-item" data-url="cases">Cases</a>
          <a href="" class="main-menu-item" data-url="contact">Contact</a>
        </nav>
         <nav class="mobile-secondary-menu">
          <a href="">Dynaway</a>
          <a href="">VRTBR</a>
        </nav>
      </div>
    </div>
    <div class="background"></div>
  </div>

	<main class="content">
    <section class="page home is-visible" data-url="home">
      <div class="text-container">
        <span class="console-cursor"></span>
      </div>
      <div class="intro-box-container">
        <span class="intro-large-box">
          <div class="overlay black"></div>
        </span>
        <span class="intro-medium-box"></span>
        <span class="intro-small-box"></span>
      </div>
    </section>

    <section class="page about box-wide is-hidden" data-url="about">
      <div class="section-title-container">
        <div class="section-title">Interactive & Identity</div>
        <div class="section-subtitle">Software agency web at heart</div>
      </div>

      <div class="info-boxes clearfix">
        <div class="info-box green">
          <div class="overlay"></div>
        </div>
        <div class="info-box grey">
          <p>Who are these guys?</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
          <p>Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.</p><br>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt.</p><br>
        </div>
        <div class="info-box black">
          <div class="overlay"></div>
        </div>
        <div class="info-box transparent">
          <ul class="services">
            <li>CMS (Sitecore - Umbraco)
            <li>Integration</li>
            <li>Sikkerhed / single sign on /Nem ID</li>
            <li>Data handling</li>
            <li>Sitecrawl</li>
            <li>PDF / Word generering</li>
            <li>Søgning</li>
            <li>SEO</li>
            <li>Analytics</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="page cases is-hidden" data-url="cases">
      <div class="section-title-container box-wide">
        <div class="section-title">Interactive & Identity</div>
        <div class="section-subtitle">Software agency web at heart</div>
      </div>
      <div class="case-items box-wide">
        <div class="case-container">
          <div class="case-image" style="background-image:url(images/vrtbr.jpg);">
            <div class="case-text-container">
              <div class="case-title">VRTBR</div>
              <div class="case-subtitle">Frontend, Backend, CMS integration</div>
              <div class="case-excerpt">Each year, we gather the Design community to discuss what's new in digital design, get inspired, meet new people and
                have fun together.</div>
            </div>
            <button class="case-button-container">Explore case</button>
            <span class="layers">
              <span class="layer"></span>
              <span class="layer"></span>
            </span>
          </div>
        
          <div class="case-text-container">
            <div class="case-title">VRTBR</div>
            <div class="case-subtitle">Frontend, Backend, CMS integration</div>
            <div class="case-excerpt">Each year, we gather the Design community to discuss what's new in digital design, get inspired, meet new people and
              have fun together.</div>
          </div>
          <button class="case-button-container">Explore case</button>
          <div class="case-image-full" style="background-image:url(images/vrtbr.jpg); width:100vw; height:100%; top:0; left:0; position:fixed;"></div>
        </div>
        <div class="case-faded-text">VRTBR.COM</div>
        
        <div class="case-container">
          <div class="case-image" style="background-image:url(images/vrtbr.jpg);"></div>
          <div class="case-text-container">
            <div class="case-title">DYNAWAY</div>
            <div class="case-subtitle">Frontend, Backend, CMS integration</div>
            <div class="case-excerpt">Each year, we gather the Design community to discuss what's new in digital design, get inspired, meet new people and
              have fun together.</div>
          </div>
          <button class="case-button-container">Explore case</button>
        </div>
      </div>
    </section>  
	</main>

  <script src="scripts/all.js"></script>
</body>
</html>
