<!DOCTYPE html>
<html>
<head>
	<title>Obscurial</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
</head>
<body class="app-loading">
  <canvas class="with-noise"></canvas>

  <div class="main-elements-container">
    <header>
      <a href="" class="logo secondary-menu-item menu-item" data-url="home">Obscurial</a>
      <!-- <a href="" class="logo secondary-menu-item menu-item" data-url="home">Hire us</a> -->
      <div class="menu-button-container open-mobile-menu">
        <span class="menu-button">
          <span class="menu-button-top"></span>    
          <span class="menu-button-bottom"></span>
        </span>
        <span class="menu-button-text open">Close</span>
        <span class="menu-button-text closed active">Menu</span>
      </div>
    </header>
    
    <div class="page-description">
      <h1 class="heading">Home</h1>
      <span class="page-number">00</span>
    </div>
  </div>

  <div class="mobile-menu-container is-hidden">
    <div class="mobile-menu-inner-container">
      <div class="mobile-menu">
        <nav class="mobile-main-menu">
          <a href="" class="main-menu-item menu-item" data-url="about">About us</a>
          <a href="" class="main-menu-item menu-item" data-url="cases">Cases</a>
          <a href="" class="main-menu-item menu-item" data-url="contact">Contact</a>
        </nav>
         <!-- <nav class="mobile-secondary-menu">
          <a href="">Dynaway</a>
          <a href="">VRTBR</a>
        </nav> -->
      </div>
    </div>
    <div class="background"></div>
  </div>

	<main class="content">
    <section class="page home is-visible" data-url="home">
      <div class="text-container">
        <div class="preloader-cursor"></div>
        <div class="text-container-content">
          <span contenteditable="true" class="console-cursor"></span>
        </div>
      </div>
      <div class="intro-box-container">
        <div class="intro-small-box-container">
          <div class="intro-small-box"></span>
        </div>
      </div>
    </section>

    <section class="page about box-wide is-hidden" data-url="about">
      <div class="section-title-container fade-up">
        <div class="section-title">Interactive & Identity</div>
        <div class="section-subtitle">Software agency web at heart</div>
      </div>

      <div class="info-boxes clearfix">
        <div class="info-box green fade-up third">
          <div class="overlay"></div>
        </div>

        <div class="move" data-speed="20">
        <div class="info-box grey fade-up second">
          <p>Who are these guys?</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
          <p>Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.</p><br>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt.</p><br>
        </div>
        </div>
        <div class="info-box black move" data-speed="10">
          <div class="overlay"></div>
        </div>
        <div class="info-box transparent move" data-speed="20">
          <ul class="services">
            <li>CMS (Sitecore - Umbraco)
            <li>Integration</li>
            <li>Sikkerhed / single sign on /Nem ID</li>
            <li>Data handling</li>
            <li>Sitecrawl</li>
            <li>PDF / Word generering</li>
            <li>Søgning</li>
            <li>SEO</li>
            <li>Analytics</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="page cases is-hidden" data-url="cases">
      <div class="section-title-container box-wide fade-up">
        <div class="section-title">Interactive & Identity</div>
        <div class="section-subtitle">Software agency web at heart</div>
      </div>

        <div class="case-items box-wide">
          <div class="case-container fade-up second" data-name="vrtbr">        
            <div class="case-image" style="background-image:url(images/vrtbr.jpg);">
              <div class="case-text-container move" data-speed="50">
                <div class="case-title">VRTBR</div>
                <div class="case-subtitle">Frontend, Backend, CMS integration</div>
                <div class="case-excerpt">Each year, we gather the Design community to discuss what's new in digital design, get inspired, meet new people and
                  have fun together.</div>
                  <button class="case-button-container mobile">Explore case</button>
              </div>
              <div class="move" data-speed="50">
                <button class="case-button-container"><span>Explore case</span></button>
              </div>
              <span class="layers">
                <span class="layer"></span>
                <span class="layer"></span>
              </span>
            </div>
          </div>

          <div class="case-container fade-up third" data-name="dynaway">        
            <div class="case-image" style="background-image:url(images/vrtbr.jpg);">
              <div class="case-text-container move" data-speed="50">
                <div class="case-title">DYNAWAY</div>
                <div class="case-subtitle">Frontend, Backend, CMS integration</div>
                <div class="case-excerpt">Each year, we gather the Design community to discuss what's new in digital design, get inspired, meet new people and
                  have fun together.</div>
                  <button class="case-button-container mobile">Explore case</button>
              </div>
              <div class="move" data-speed="50">
                <button class="case-button-container"><span>Explore case</span></button>
              </div>
              <span class="layers">
                <span class="layer"></span>
                <span class="layer"></span>
              </span>
            </div>
          </div>

          <div class="case-faded-text-container vrtbr">
            <span class="case-faded-text">VRTBRVRTBRVRTBRVRTBRVRTBR</span>    
          </div>
          <div class="case-faded-text-container dynaway">
            <span class="case-faded-text">DYNAWAYDYNAWAYDYNAWAYDYNAWAY</span>
          </div>
          
        </div>

      </div>  

      <div class="case-single-container">

        <div class="case-single" data-name="vrtbr">
          <div class="case-single-content">
            <div class="case-single-image hero" style="background-image:url(images/vrtbr.jpg);"></div>
            <div class="description-container">
              <div class="case-box">
                <h2 class="secondary-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                <h2 class="secondary-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
              </div>           
            </div>

            <div class="image-right-container">
              <div class="case-single-image right" style="background-image:url(images/vrtbr.jpg);"></div>
               <div class="case-box">
                 <div class="text-card move" data-speed="15">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <br>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>

            <div class="case-single-center-text">
              <p>cms integration - html5 - css - javascript - automatic deployment</p>
            </div>
             
            <div class="image-center-container">
              <img class="image-center" src="images/vrtbr.jpg">
            </div>          
          </div>    
          <div class="overlay"></div>
          <div class="background"></div>
        </div>
        <div class="case-single" data-name="dynaway">
          <div class="case-single-content">
            <div class="case-single-image hero" style="background-image:url(images/vrtbr.jpg);"></div>
            <div class="description-container">
              <div class="case-box">
                <h2 class="secondary-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                <h2 class="secondary-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
              </div>           
            </div>

            <div class="image-right-container">
              <div class="case-single-image right" style="background-image:url(images/vrtbr.jpg);"></div>
               <div class="case-box">
                 <div class="text-card move" data-speed="15">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <br>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>

            <div class="case-single-center-text">
              <p>cms integration - html5 - css - javascript - automatic deployment</p>
            </div>
             
            <div class="image-center-container">
              <img class="image-center" src="images/vrtbr.jpg">
            </div>          
          </div>    
          <div class="overlay"></div>
          <div class="background"></div>
        </div>

      </div>

    </section>  

    <section class="page contact is-hidden" data-url="contact">
      <div class="move" data-speed="20">
        <div class="contact-map fade-up fourth">
          <div class="overlay"></div>
          <div class="move contact-map-text-container" data-speed="30">
            <div class="contact-map-text fade-up fifth">Obscurial</div>
          </div>
        </div>
      </div>
      <div class="contact-item-group left fade-up">
        <span class="contact-item">Obscurial consulting</span>
      </div>
      <div class="contact-item-group right">
        <div class="contact-item fade-up second"><a href="mailto:info@obscurial.dk">info@obscurial.dk</a></div>
        <div class="contact-item fade-up second">+45 50 27 69 73</div>
        <div class="contact-item fade-up second">Copenhagen S</div>
        <div class="contact-item fade-up third last">Can we help you with conceptualizing or implementing your business digital strategy?</div>
        <div class="contact-item fade-up third">We wouuld love to build something great together</div>
      </div>
    </section>
	</main>
  <div class="preloader"></div>
  <script src="scripts/all.js"></script>
</body>
</html>
