<!DOCTYPE html>
<html lang="en">
<head>
	<title>Modern voice activated websites | Obscurial</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Modern voice activated interfaces on the web. A journey of implementing a speech controlled website navigation.">
  <link rel="alternate" href="https://obscurial.dk/voice-activated-websites" hreflang="en-dk" />
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/blog-style.css" type="text/css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:image" content="https://obscurial.dk/logo.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://obscurial.dk/voice-activated-websites" />
  <meta property="og:title" content="Modern voice activated websites | Obscurial" />
  <meta property="og:description" content="Modern voice activated interfaces on the web. A journey of implementing a speech controlled website navigation." />
  <!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.obscurial.dk/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
<body class="blog">
  <div class="preloader"></div>

  <header>
    <a href="https://obscurial.dk" class="logo secondary-menu-item menu-item" data-url="home">Obscurial</a>
    <a href="https://obscurial.dk" class="back-to-home" data-url="home">Back to homepage</a>
  </header>

  <article class="blog-article" itemid="https://obscurial.dk/modern-voice-activated-websites" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="article-image" itemprop="image" content="https://res.cloudinary.com/dqwtlmis3/image/upload/q_auto/f_auto/c_fill,w_1920/v1525207132/voice.jpg" url="https://res.cloudinary.com/dqwtlmis3/image/upload/q_auto/f_auto/c_fill,w_1920/v1525207132/voice.jpg">
    </div>
    <div class="article-content">
      <h1 class="article-title fade-up article-one" itemprop="headline">Modern voice<br /> activated websites</h1>
      <span class="article-publisher fade-up article-one">
        by <a href="https://obscurial.dk" class="article-link" itemprop="author" itemtype="http://schema.org/Organization"><span itemprop="name">Obscurial Consulting</span></a>
        <span class="article-date">on <span class="article-date-numbers" itemprop="datePublished" content="2018-05-01"> 01/05/2018</span></span>  
      </span>
      
      <div class="article-text" itemprop="articleBody">
        <section class="fade-up article-two" itemprop="articleSection">
          <p class="first-paragraph" itemprop="description">With the recent popularity boom of personal assistant devices a question popped into our mind, "Why not use speech to control a website?"</p>
          <p>At first, the idea of a voice feature raised some skeptical doubts, but after we evaluated the potential benefits, we came to the conclusion that it might actually be pretty useful(and fun).</p>
          <p><a class="article-link" href="https://obscurial.dk">See implementation here</a></p>
        </section> 
      
        <section class="fade-up article-three" itemprop="articleSection">
          <h3>Short short background</h3>
          <p>Voice has become an important factor to consider when designing and developing software. The trend is to develop more for the invisible and shift away from screens.</p>
          <div class="move" data-speed="40" style="transform: translate3d(0px, 29.8918px, 0px);">
              <blockquote>Speech executed commands in apps and on physical devices are getting exponentially more sophisticated. Why can't we bring the same level of complexity to the web?</blockquote>
          </div>
          
          <p>Personal assistant devices span a multitude of apps and services in an incredibly fast-expanding ecosystem. Nowadays, Amazon's Alexa can even <a class="article-link" href="https://www.youtube.com/watch?v=TFHXfKKmOKg">sing</a> for you. Furthermore, with the increase of internet speed and easier media delivery, consumers are starting to replace music with podcasts, leaving no doubt, that it is only the beginning for voice interfaces.</p>
          <p>The trend is beginning to catch up in Denmark as more web platforms are taking advantage of speech enhanced software. In Copenhagen, we foresee that the sectors which will in the near future invest the most in voice services are Government offices, Telco, and Healthcare. But don't take our words for granted.</p> 
        </section>        
        
        <section class="fade-up article-four" itemprop="articleSection">
          <h3>Advantages:</h3>
          <p>What determined us to refer to a speech to text feature:</p>
          <ul class="article-list">
            <li class="article-list-item">
              <strong>Less friction</strong><br>
              Users don't have to type or click anything.
            </li>
            <li class="article-list-item">
              <strong>Persons with disabilities </strong><br>
              It is a great way to improve the accessibility of your website.
            </li>
            <li class="article-list-item">
              <strong>New ways of structuring information</strong><br>
              To accomodate a voice interface the website structure has to be thought in a different manner.
            </li>
            <li class="article-list-item">
              <strong>More fun</strong><br>
              The user journey instantly becomes more captivating and interactive.
            </li>
          </ul>
        </section>

        <section itemprop="articleSection">
          <h3>Our experiment</h3>
          <p>We decided to conduct a little experiment, by adding a feature which would allow users to navigate by using a set of defined voice commands. The feature is started manually, and once that happens, the user can say the name of a page and navigation occurs.</p>
          <p>A small improvement to the overall browsing experience, but the same technique can achieve more complex tasks:</p>

          <ul class="article-list">
            <li class="article-list-item">Voice biometrics</li>
            <li class="article-list-item">Instruct to perform background tasks</li>
            <li class="article-list-item">Voice search</li>
            <li class="article-list-item">Ask for the opening hours of a business</li>
            <li class="article-list-item">Change the layout of a page</li>
            <li class="article-list-item">Hands free interaction in limited reach working environments(ex: mechanics)</li>
            <li class="article-list-item">Text to speech, etc.</li>
          </ul>
        </section>

        <section itemprop="articleSection">
          <h3>Providing feedback to the users</h3>
          <p>We are trying to communicate with a machine the way we communicate with humans and as we all know, people communicate by having dialogues. In that manner, we have to make sure that our system can provide feedback, thus having a conversation instead of a sad monologue.</p>

          <p class="inline-paragraph">Behold, the "vobble".</p>
          <span class="voice-control"><div class="voice-control-ring"></div></span>

          <br />
          <p class="inline-paragraph green">When the platform recognizes audio input, the bubble will turn green.</p>


          <p>If the audio is recognized as speech, it will try to figure out what we mean. <br/>
          On match, the application navigates, and the "vobble" resets to its initial state. <br/></p>
          
          <p class="inline-paragraph red">When the word provided does not match our list of pages, <br /> the vobble blinks red for 2 seconds and reverts to its initial state.</p>

        </section>          

        <section itemprop="articleSection">
          <h3>Technologies used</h3>
          <p>Research has led us to all sorts of speech recognition frameworks and services. They come in all colors and flavors, some providing the basic voice recognition software, while more advanced ones offer deep learning and context-based algorithms.</p>

          <p>Services we considered using:</p>
          
          <p>
            <strong>IBM Watson Speech to text</strong><br />
            <a class="article-link" href="https://www.ibm.com/watson/services/speech-to-text" target="blank">https://www.ibm.com/watson/services/speech-to-text</a><br />
            Too many features for our small experiment
          </p>

          <p>
            <strong>Google Cloud Speech to text</strong><br />
            <a class="article-link" href="https://cloud.google.com/speech-to-text" target="blank">https://cloud.google.com/speech-to-text</a><br />
            No free developer possibility. Only Trial based subscription.
          </p>

          <p>In the end, we decided upon using the native Chrome Web Speech API for the fact that it is convenient, easy to use, and provides the voice recognition feature we were looking for. </p>
        </section>

        <section itemprop="articleSection">
          <h3>Conclusion</h3>
          <p>In conclusion, a voice-controlled/activated website can bring benefits to the overall browsing experience, as long as it is built as an extra layer on top of your application and does not impair a user that wants to use the peripheral devices.</p>
          <p>To see the final working solution, head to <a href="https://obscurial.dk" class="article-link">www.obscurial.dk</a> and type "voice" in the console appearing on the screen.</p>

          <p>
            Can your business benefit from implementing voice services? Leave the tehnical details to us.<br /> 
            <span>Tell us where we can reach you</span> 
            <input class="article-contact-input" type="email" placeholder="name@youremail.com"/>
          </p>        
        </section>
      </div>
    </div>
  </article>
  
  <script src="scripts/blog.js"></script>
</body>
</html>
