.info-boxes { position:relative; width:100%; min-height:15rem; }
  
  .info-box { position:absolute; }
    .info-box.grey { width:52vw; padding:4vw; top:4rem; left:5vw; box-sizing:border-box; line-height:3.6rem; background-color:#232323; }
    .info-box.green { width:59vw; height:65rem; top:42rem; right:0; background-color:#105130; opacity:.7; background-image:url("../images/map-right.jpg"); background-size:cover; }
    .info-box.transparent { width:48vw; height:67rem; padding:5vw; top:81rem; left:11vw; box-sizing:border-box; }
    .info-box.black { width:53vw; height:50rem; padding:5vw; top:101rem; left:0; margin-bottom:15rem; box-sizing:border-box; background-color:#000000a3; background-image:url("../images/map-left.jpg"); background-size:cover; opacity:.9; }

      .info-box .overlay { position:absolute; width:100%; height:100%; top:0; left:0; }
        .info-box.green .overlay { background:#24c174; opacity:.5; }
        .info-box.black .overlay { background:#000; opacity:.5; }

  .services { font-size:2rem; list-style:none; line-height:4.2rem; }

@media all and (min-width:1440px) {
  .info-box.green { width:85rem; }
  .info-box.grey, .info-box.transparent { width:72rem; }
  .info-box.black { width:72rem; height:55rem; }
}

@media all and (max-width:1024px) {
  .info-box.grey { width:64vw; padding:4vw; top:4rem; left:5vw; }
  .info-box.green { width:69vw; height:55rem; top:42rem; }
  .info-box.black { width:65vw; height:49rem; top:93rem; }
}

@media all and (max-width:768px) {
  .info-box.grey { width:75vw; }
    .info-box.black { width:76vw; height:49rem; }

  .services { font-size:1.8rem; }
}

@media all and (max-width:540px) {  
  main { padding:18rem 2.9rem; }

  .info-box.grey { position:relative; width:100%; top:0; left:0; padding:3.78rem; }
  .info-box.green { right:-3rem; }
  .info-box.transparent { position:relative; top:0; }
}

@media all and (max-width:420px) {  
  main { padding:15rem 2rem; }

  .info-box.grey { padding:2.5rem; }
  .info-box.green { top:62rem; }
  .info-box.transparent { width:23rem; }
  .info-box.black { top:113rem; }
}

