/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }
strong { font-weight:bold; }
em, i { font-style:italic; }
a { text-decoration:none; color:white; }
ul { list-style-type:none; }
:focus { outline:none; } 
strong { font-weight:500; }
html { height: 100%; font-size:10px; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -moz-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-overflow-scrolling:touch; }
body { overflow-x:hidden; font-family:"tech", Arial, sans-serif; position:relative; height:100vh; background-color:#131314; line-height:1; -webkit-font-smoothing:antialiased; color:white; }
button { font-family:"tech", Arial, sans-serif; }
body.mobile-menu-visible { overflow:hidden; }

main { width:100%; min-height:100%; }
canvas { position:fixed; z-index:-2; }
p { font-size:2.1rem; }

::selection { background:#3ae285; }

.svg-icon { width:inherit; height:inherit; position:absolute; }

.clear { clear:both; }
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }

.invisible { visibility:hidden; }
.no-transition { transition:none !important; }
.no-margin { margin:0; }
.hidden { display:none; }
.no-select { -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
.responsive-image { width:100%; height:auto; }

.section-content-wrapper { padding:0 10rem; }

@media all and (max-width:1024px) { 
  html { -webkit-text-size-adjust:100%; } .hide-mobile { display:none !important; } 
}

@media all and (max-width:768px) { 
  p { font-size:1.8rem; } 
}










 