.case-container { position:relative; width:55vw; margin-bottom:25rem; }
  .case-faded-text:before{ content:attr(data-text); position:absolute; z-index:-3; height:58rem; left:50%; top:-12rem; transform:translateX(calc(-50% + 3rem)); font-size:55rem; color:#272727; text-align:center; }

  .case-image { padding-top:56.25%; background-position:center; background-size:cover; background-repeat:no-repeat; }

  .case-text-container { position:absolute; width:52rem; top:50%; right:0; transform:translate(50%, -50%); }
    .case-title { margin-bottom:1rem; font-size:8rem; }
    .case-subtitle { margin-bottom:2rem; font-size:2.4rem; color:#3ae285; }
    .case-excerpt { font-size:1.8rem; line-height:2.8rem; }
  
    .case-button-container { position:absolute; width:22rem; padding:1.8rem 0; left:15rem; bottom:-4.5rem; font-size:1.5rem; box-sizing:border-box; text-align:center; border:.2rem solid #3ae285; background:none; color:#3ae285; cursor:pointer; }

@media all and (min-width:1440px) {
 .case-container { width:76.8rem; } 
}

@media all and (max-width:1024px) {
  .case-container { width:100%; margin-bottom:5rem; } 
    .case-text-container { width:62rem; position:relative; right:initial; transform:translate(6rem, -10rem); }
      .case-excerpt { font-size:1.6rem; }
    .case-button-container { position:relative; left:6rem; bottom:8rem; }
}

@media all and (max-width:768px) {
  .case-text-container { width:85%; }
    .case-excerpt { font-size:1.4rem; }
}

@media all and (max-width:540px) {
  .case-text-container { transform:translate(2rem, -4rem); }
    .case-title { font-size:6rem; }
  .case-button-container { left:2rem; bottom:2rem; }
}

.in { animation:in .25s; opacity:1; visibility:visible; }
.out { animation:out .25s; opacity:0; visibility:hidden; }

@keyframes in {
	from { transform:scale(1.1); opacity:0; visibility:hidden; }
	to { transform:scale(1); opacity:1; visibility:visible;  }
}

@keyframes out {
	from { transform:scale(1); opacity:1; visibility:visible; }
	to { transform:scale(1.1); opacity:0; visibility:hidden; }
}				
