@font-face {
    font-family: 'share_tech_monoregular';
    src: url('fonts/sharetechmono-regular-webfont.woff2') format('woff2'),
         url('fonts/sharetechmono-regular-webfont.woff') format('woff'),
         url('fonts/sharetechmono-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}