.sender {position: absolute;width: 100vw; left: 0; bottom: 0; border-top: .1rem solid green;color:#000; height:15rem; background-color:#fff; font-size:2rem; }
    .sender span, .sender div { font-size:2rem; }
    .message { clear: both; padding: .6rem; color: white; border-radius: 1rem; font-size:3rem; }
    .question { float: left; }
    .answer { float: right; background-color: rgb(69, 200, 87); opacity: 0; transform: translateY(1rem); animation:fadeUp .5s forwards; }
      .answer.active { opacity:1; }

@keyframes fadeUp {
  0% { opacity:0; transform:translateY(1rem); }
  100% { opacity:1; transform:translateY(0); }
}

.user-choice { display:none; opacity:0; animation:fadeUp .5s .1s forwards; }
  .user-choice.active { display:block; }
