.home { position:relative; }
	.text-container { position: relative; /*top:50%; transform:translateY(-50%); */z-index:1; }
	.intro-secondary-headline { font-size:3rem; margin:1.5rem 0; line-height:1.4; }
		.intro-secondary-headline span { font-family:Arial; font-weight:800; }
		.intro-secondary-headline:first-child span { text-transform:uppercase; }
		.intro-secondary-headline a { color:cyan; }
	.intro-list { font-size:1.8rem; margin:2rem 0; padding-left:2.5rem; line-height:1.5; list-style:none; }

	.intro-medium-box { display:block; width:40vw; height:60vw; position:absolute; top:-15rem; left:6vw; background-color:#232323; opacity:.8; }
	.intro-small-box { display:block; width:60vw; height:20vw; position:absolute; top:-10rem; left:15vw; background-color:cyan; opacity:.7; }