.home { }
  .home-bg { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100vw; height:100vh; opacity:.011; }
	.home:after { content:''; display:block; }

.intro-box-container { position: absolute; top:0; left:0; right:0; }
.intro-large-box { opacity:.6; display:block; position:absolute; max-width:180rem; min-height:83rem; left:5rem; right:5rem; top:10rem; bottom:10rem; background-color:#232323; background:url("https://res.cloudinary.com/dqwtlmis3/image/upload/q_auto/f_auto/antenna.jpg"); background-size:cover; background-position:center; }
  .intro-large-box .overlay { position:absolute; background:#090909eb; width:100%; height:100%; opacity:1; }
.intro-medium-box { display:block; width:40vw; height:46vh; max-width:54rem; position:absolute; left:23%; top:5rem; background-color:#1f1f1f; }
.intro-small-box-container { position:absolute; opacity:.2; display:block; width:47vw; height:53rem; position:absolute; top:10rem; right:0; overflow:hidden; }
  .intro-small-box { position:relative; background:#18b176; width:100%; height:100%; transform:translate3d(0, -100%, 0); transition:transform .7s cubic-bezier(.785,.135,.15,.86);  }
    .intro-small-box.active { transform:translate3d(0, 0, 0); }

@media all and (min-width:1446px) {
  .intro-small-box-container { left:57vw; width:75rem; top:7rem; }
}

@media all and (max-width:1024px) {
  .intro-small-box-container { height:34.8vh; top:8rem; right:0; }
}

@media all and (max-width:540px) {
  .intro-small-box-container { width:30rem; height:30vh; top:10rem; }
}

@keyframes homeFadeUp {
  0% {
    transform: translateY(5rem);
    opacity:0;
  }
  100% {
    transform: translateY(0);
    opacity:.2;
  }
}



/*.slide { width:40vw; height:60vw; position:relative; position:absolute; top:-15rem; left:6vw; opacity:.8; }
	.slide > span {  animation-name:show; visibility:hidden; animation-fill-mode:forwards; animation-duration:1.2s; animation-timing-function:cubic-bezier(.785,.135,.15,.86); }
	.slide:after { content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; transform-origin:left center; transform:scaleX(0); animation-duration:1.2s; animation-fill-mode:forwards; animation-timing-function:cubic-bezier(.785,.135,.15,.86); background:#232323; animation-name:slideFromLeft; }

@keyframes show{
    0%,50% { visibility:hidden; }
    50.1%, 100% { visibility:visible; }
}

@keyframes slideFromLeft {
    50% { transform-origin:left center; transform:scaleX(1); }
    50.1% { transform-origin:right center; }
    100% { transform-origin:right center; transform:scaleX(0); }
}

@keyframes slideFromTop {
    50% { transform-origin:top center; transform:scaleX(1); }
    50.1% { transform-origin:bottom center; }
    100% { transform-origin:bottom center; transform:scaleX(0); }
}*/

/*.image-container {  }
	.image-inner-container { width:60rem; height:40rem; overflow:hidden; }
		.image { width:100%; height:60rem; }*/
