main { max-width:150rem; box-sizing:border-box; padding:13rem 0 0 26rem;}
  .page { width:100%; min-height:100%; display:none; }
  .page.is-visible { display:block; }

  .section-title-container { margin-bottom:6rem; }
    .section-title { font-size:3.5rem; margin-bottom:1rem; }
    .section-subtitle { font-size:1.6rem; }


@media all and (min-width:1445px) {
  main { margin:0 auto; }
   .main-elements-container { left:50%; transform:translateX(-50%); margin:0; }
}

@media all and (max-width:1280px) { 
  main { padding-left:14vw; padding-right:3rem; }
}

@media all and (max-width:768px) {
   main { padding:6rem 2rem 0; }
}

@media all and (max-width:540px) {  
  main { padding:5rem 2.9rem; }
}

@media all and (max-width:420px) {  
  main { padding:4rem 2rem; }
}