main { position:relative; padding:15rem 0 0 23rem; box-sizing:border-box; }
  .page { min-height:100%; margin:0 auto; max-width:140rem; box-sizing:border-box; }
    .page.home { padding:0; }
    .page.is-hidden { display:none; opacity:0; visibility:hidden; height:0; }
    .page.is-visible { display:block; opacity:1; visibility:visible; }

  .section-title-container { margin-bottom:10rem; }
    .section-title { font-size:3.5rem; margin-bottom:1rem; }
    .section-subtitle { font-size:1.6rem; }

.fade-up { transform:translateY(5rem); opacity:0; } 
.is-visible .fade-up { animation-name:fadeUp; animation-duration:.5s; animation-delay:.6s; animation-fill-mode:forwards; }  
  .fade-up.second { animation-delay:.8s; }    
  .fade-up.third { animation-delay:1s; }    
  .fade-up.fourth { animation-delay:1.2s; }    
  .fade-up.fifth { animation-delay:1.4s; }    

.app-loaded .preloader { background-color:transparent; }
  .preloader { width:100vw; height:100vh; position:absolute; top:0; left:0; background-color:rgb(26, 26, 26); transition:background .5s; }
  .app-loaded .preloader-cursor { opacity:0; visibility:hidden; }
    .preloader-cursor { position:relative; top:1rem; opacity:1; }

  header, .page-description { transition:opacity .3s, transform .3s; }

  header { opacity:0; transform:translateY(-1rem); }
  .page-description { opacity:0; transform:translateY(1rem); }
    .app-loaded header, .app-loaded .page-description { opacity:1; transform:translateY(0); }

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity:1;
  }
}

@media all and (min-width:1445px) {
  .page { width:90%; }
}

@media all and (max-width:1024px) {
  main { padding:11rem 0 0 0; }
    .page { padding:0 3.5rem; } 
}

@media all and (max-width:768px) {
  .page { padding:0 2.5rem; }
    .section-title-container { margin:0rem 2.5rem 6rem; }
}

@media all and (max-width:540px) {  
  .page { padding:0; }
}

