header { position:fixed; width:calc(100%); padding-top:3rem; padding-bottom:3rem; }
  .main-elements-container > header,
  .main-elements-container > nav, 
  .main-elements-container > div { z-index:4; }

  .main-elements-container .secondary-menu-item, .main-elements-container .page-description { animation-fill-mode:forwards; animation-duration:.3s; animation-delay:.5s; animation-timing-function:cubic-bezier(.785,.135,.15,.86); }
    .menu-button-container { position:relative; float:right; margin-right:1rem; top:.6rem; padding:1rem 6rem 1rem 2rem; cursor:pointer; }
      .menu-button-text { position:absolute; font-size:1.4rem; top:.8rem; right:5.6rem; opacity:0; width:0; transition:opacity .3s; }
        .menu-button-text.closed { opacity:1; }
        .menu-active .menu-button-text.closed { opacity:0; }
        .menu-active .menu-button-text.open { opacity:1; }
      .menu-button { position:relative; display:inline-block; height:1rem; margin-right:4rem; top:-.2rem; }
      .menu-button-top, .menu-button-bottom { position:absolute; width:2.3rem; height:.1rem; background-color:white; transition:transform .5s ease-out; }
        
        /* menu style when case is open */
        .has-overlay .menu-button-top, .has-overlay .menu-button-bottom { background-color:#18b176; }
        .has-overlay .menu-button-container { color:#18b176; }

        .menu-button-top { top:0; transform:translateX(-.6rem);  }
        .menu-button-bottom { bottom:0; transform:translateX(.6rem); }
          .menu-button-container:hover .menu-button-top { transform:translateX(.6rem); }
          .menu-button-container:hover .menu-button-bottom { transform:translateX(-.6rem); }

        .menu-active .menu-button-top, .menu-active .menu-button-container:hover .menu-button-top { transform:rotateZ(45deg) scale(0.7) translate(6px,6px); }
        .menu-active .menu-button-bottom, .menu-active .menu-button-container:hover .menu-button-bottom { transform:rotateZ(-45deg) scale(.7) translate(3px,-3px); }
    .secondary-menu-item { position:relative; display:inline-block; font-size:1.4rem; padding:.7rem 0; margin:.7rem 0 .7rem 3.5rem; }

  /* Mobile menu */
  .menu-container { display:none; position:fixed; width:100%; height:100vh; top:0; left:0; right:0; bottom:0; background-color:#181818; animation-duration:.5s; animation-timing-function:cubic-bezier(.785,.135,.15,.86); animation-fill-mode:forwards; }
    .menu-container.is-hidden { display:block; animation-name:slide-down-down; animation-delay:.5s; }
    .menu-container.is-visible { display:block; animation-name:slide-down; }
    .menu-container .logo { margin-top:3rem; }

  nav { position:absolute; width:100%; top:50%; font-size:0; transform:translateY(-50%); text-align:center; animation-duration:.5s; animation-timing-function:cubic-bezier(.785,.135,.15,.86); animation-fill-mode:forwards; }
    nav .menu-item { display:inline-block; width:30%; text-align:center; text-transform:capitalize; font-size:7rem; z-index:3; transition:opacity .8s; }
      .is-visible nav { animation-name:show; opacity:0; animation-delay:.5s; }  
      .is-hidden nav { animation-name:hide; animation-delay:0; }   

    nav:hover .menu-item { opacity:.1; }
    nav:hover .menu-item:hover { opacity:1; }

  .page-description { position:fixed; left:5.5rem; bottom:10rem; width:3rem; }
    .page-description .heading { transform:rotate(-90deg); transform-origin:left top 0; font-size:1.5rem; position:absolute; left:-1.9rem; top:9rem; }
    .page-description .heading:first-letter { text-transform:capitalize; }
    .page-number { font-size:1.6rem; }
      .page-number:after { content:''; background-color:white; width:.1rem; height:7rem; position:absolute; right:0; }

  .box{ width:100%; height:10rem; background:grey; margin:4rem 0; }

  .voice-control { display:none; width:1rem; height:1rem; margin-left:3rem; vertical-align:text-top; background:#fff; border-radius:50%; opacity:0; animation:pulse .8s 1s infinite; transition:background-color 1s, opacity 1s; }
    .voice-control-ring { display:none; width:100%; height:100%; box-sizing:border-box; border:.1rem solid #fff; border-radius:50%; opacity:0; animation:ring 1.5s 1.3s forwards 4; }
      .active .voice-control-ring { display:block; }
  .voice-control.active { display:inline-block; opacity:1; animation:pulse .8s 1s infinite; }
    .voice-control.green { background-color:#3ae285; }
    .voice-control.red { background-color:#d32f2f; }

@media all and (min-width:1446px) {
  nav .menu-item { width:45rem; }
}

@media all and (max-width:1024px) {
  .page-description { display:none; }
    nav .menu-item { display:block; width:100%; margin-bottom:5rem; }
}

@media all and (max-width:768px) {
  .secondary-menu-item { opacity:0; }
    .menu-active .secondary-menu-item { animation-name:show; animation-delay:.5s; }
} 

@media all and (min-width:768px) {
  .main-elements-container.has-overlay .secondary-menu-item { animation-name:exit-top; }
  .main-elements-container.has-overlay .page-description { animation-name:exit-bottom; }
  .main-elements-container.has-fade .secondary-menu-item { opacity:0; animation-name:enter-top; animation-delay:.1s; }
  .main-elements-container.has-fade .page-description { opacity:0; animation-name:enter-bottom; animation-delay:.1s; }
}

@media all and (max-width:767px) {
  .menu-item.hire-us { display:none; }
} 

@media all and (max-width:540px) {
  .secondary-menu-item { margin-left:2.5rem; }
  .menu-button-container { margin-right:0; }

  nav .menu-item { font-size:4rem; margin-bottom:4rem; }
} 

@keyframes slide-down {
    0% { transform:translateY(-100%); }
    100% { transform:translateY(0); }
}

@keyframes slide-down-down {
    0% { transform:translateY(0); }
    100% { transform:translateY(100%); }
}

@keyframes slide-up {
    0% { top:0; bottom:0; }
    100% { top:100%; bottom:0; display:none; }
}

@keyframes show {
  0% { visibility:hidden; opacity:0; }
  100% { visibility:visible; opacity:1; }
}

@keyframes hide {
  0% { visibility:visible; opacity:1; }
  100% { visibility:hidden; opacity:0; }
}

@keyframes pulse { 
  50% { opacity:.4; }
  100% { opacity:1; }
}

@keyframes ring { 
  30% { opacity:1; }
  100% { opacity:0; transform:scale(2.5); }
}
